* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --bg-dark: #130b1c;
  --txt-primary: #fefefe;
  --btn-primary: #ff7d7b;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-dark);
  position: relative;
  overflow: hidden;
}

.pad {
  width: 10%;
  height: 2%;
  background-color: var(--txt-primary);
  background-color: antiquewhite;
  border-radius: 5px;
  position: absolute;
}

#ball {
  background-color: var(--btn-primary);
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-over {
  width: 40%;
  height: 50%;
  background-color: antiquewhite;
  border: 5px solid var(--btn-primary);
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#game-over h2,
#start-game h2 {
  font-size: 36px;
  color: var(--btn-primary);
  -webkit-text-stroke: 0.5px var(--bg-dark);
  /* color: transparent; */
}

#game-over h3,
#start-game h3 {
  font-size: 20px;
}

#game-over button,
#start-game button {
  background-color: var(--btn-primary);
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 550;
}

#start-game {
  width: 40%;
  height: 50%;
  background-color: antiquewhite;
  border: 5px solid var(--btn-primary);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
